body {
    background-color: #1a1a1a;
    margin-top: 100px;
}

/*HEADER*/ 
header {
    background-color: #1a1a1a;
    border-bottom: 2px solid #2d2e36;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 1;
}

header nav ul {
    list-style-type: none;
    display: flex;
    padding: 2px;
}

.logo_header {
    border-radius: 15%;
    height: 80px;
    width: 80px;
}

.menu_page a {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.menu_page a:hover {
    color: white;
    background-color: #2d2e36;
}

/*INICIO*/

.carousel-image {
    width: 80%;
    height: 500px;
}
.titulo h2 {
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.titulo p {
    color: white;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fotos-inicio img {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
    border: 3px solid #718355;
    border-radius: 25% 15%;
    width: 280px;
    height: 250px;

}


/*NOSORTROS*/ 
.textos-somos h2 {
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 25px;
}

.textos-somos p {
    color: white;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    border: 1.5px solid #2d2e36;
    border-radius: 10px;
    margin: 20px 200px;
}

.textos-somos {
    text-align: center;
    justify-content: center;
}

.nosotros-historia {
    color: white;
    border: 2px solid black;
    margin-bottom: 20px;
}

.nosotros-buscamos {
    color: white;
    border: 2px solid black;
}

.nosotros {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    text-align: center;
}

.nosotros h3 {
    color: white;
    background-color: #2d2e36;
}

.nosotros p {
    color: white;
    padding: 5px 15px;
}


.container-somos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    margin: 25px;
}

.imagenes-somos {
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;
    justify-content: center;
    margin: auto;
} 

.image1 {
    width: 250px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid black;
}

.image2 {
    width: 250px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid black;
}

.image3 {
    width: 250px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid black;
}

.image4 {
    width: 760px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: auto;
}

.iframe-grid {
    grid-column: 1/2;
}

.horarios-grid {
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
}


/*TRABAJOS*/
.container-photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.container-photos img {
    margin: auto;
    gap: 10px;
    display: flex;
    width: 290px;
    height: 290px;
    border: 3px solid white;
    border-radius: 10px;
}

.container-photos:hover img {
    transform: scale(1.009);
}

.container h2 {
    color: white;
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding-top: 35px;
    font-weight: bold;
    color: white ;
    text-shadow: 3px -1px 2px black;
}

.titulo-trabajos h2 {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 40px;
}

.preguntas {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin: auto;
    gap: 30px;
}



/*CONTACTO*/
.contenedor1 {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #2d2e36;
    height: 50%;
}

.contenedor2 {
    display: flex;
    justify-content: center;
}


.textos {
    justify-content: space-between;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    width: 60%;
    height: 100%;
}

.formulario {
    border: 2px solid black;
    padding: 20px;
    margin: 50px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textos p {
    color: white;
    border: 1px solid #395886;
    border-radius: 10px;
    padding: 40px;
}   

.textos h3 {
    color: white;
    padding: 12px;
    margin: 15px;
}

.botton input {
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100px;
    padding: 10px;
}

.horarios {
    justify-content: center;
    text-align: center;
}


/*CLIENTES*/
.titulo-clientes h1 {
    color: white;
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    padding-top: 20px;
}

.contenedores-clientes .cliente {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.cliente {
    margin-left: 10%;
    margin-right: 10%;
}

.cliente img {
    height: 300px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    margin: 15px;
}

.parrafos-clientes p {
    color: white;
    text-align: center;
    justify-content: center;
    font-size: large;
    width: auto;
    height: auto;
    padding: 30px;
    margin: auto;
    border:1px solid white;
    border-radius: 10px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


span {
    color: rgb(230, 230, 230);
    font-weight: bold;
}


footer {
    background-color: #cfe1b9;
    border-top: 2px solid #2d2e36;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1px;
}



/* Estilos para las clases */

