/*INICIO*/
header {

    nav {
        display: flex;
        justify-content: space-around;
        margin-left: 15px;
        margin-right: 20px;
    }

    ul {
        a {
            color: $color-combination !important;
            background-color: $background-color-section !important;
            border-radius: 5px;
            margin: 10px;
        }

        &:hover{
            background-color: $color-white !important;
            color: #1a1a1a !important;
        }
    }
}