/*VARIABLES GLOBALES*/ 
$body: #1a1a1a;
$color-white: white;
$color-black: black;
$color-combination: rgb(215, 215, 215);
$background-color-nav: #1a1a1a;
$background-color-section: #202020;
$font-family-arial: Arial, Helvetica, sans-serif;
$color-body-card: rgb(93, 92, 92);