body {
    background-color: #1a1a1a;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-combination {
    color: rgb(215, 215, 215);
}

.background-color-nav {
    background-color: #1a1a1a;
}

.background-color-section {
    background-color: #202020;
}

.font-family-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.color-body-card {
    background-color: rgb(93, 92, 92);
}

.logo-zaam {
    width: 100px;
    height: 25px;
}

.padding-texto {
    padding: 5px 155px;
}

.padding {
    padding-left: 120px !important;
    padding-right: 120px !important;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*INICIO*/

header {

    nav {
        display: flex;
        justify-content: space-around;
        margin-left: 15px;
        margin-right: 20px;
    }

    ul {
        a {
            color: rgb(215, 215, 215) !important;
            background-color: #202020 !important;
            border-radius: 5px;
            margin: 10px;
        }

        &:hover{
            background-color: white !important;
            color: #1a1a1a !important;
        }
    }
}


.textos-somos {
    text-align: center;
    justify-content: center;

    p {
        color: white;
        text-align: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 15px;
        border: 1.5px solid #2d2e36;
        border-radius: 10px;
        margin: 20px 200px;
    }

    h2 {
        color: white;
        text-align: center;
        justify-content: center;
        padding-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 25px;
    }
}

.nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h3 {
        color: white;
        background-color: #202020;
    }
}


.texto-historia {
    border: 1px solid white;
    margin-right: 8px;

    p{
        padding: 20px;
    }

    h3{
        padding: 8px;
        text-align: center;
    }
}


.texto-buscamos {
    border: 1px solid white;
    margin-left: 10px;

    p{
        padding: 20px;
    }

    h3{
        padding: 10px;
        text-align: center;
    }
}

.image1 {
    width: 250px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid white;
}

.image2 {
    width: 250px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid white;
}

.image3 {
    width: 250px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid white;
}

.image4 {
    width: 760px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: auto;
}

.iframe-grid {
    grid-column: 1/2;
}

.horarios-grid {
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
}

/*TRABAJOS*/
.container-photos {
    display: flex;

    img {
        margin: auto;
        display: flex;
        width: 290px;
        height: 290px;
        border: 1.5px solid white;
        border-radius: 10px;
    }

    &:hover {
        transform: scale(1.009);
    }
}

.container h2 {
    color: white;
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding-top: 35px;
    font-weight: bold;
    color: white ;
    text-shadow: 3px -1px 2px black;
}

.titulo-trabajos h2 {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

.preguntas {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin: auto;
    gap: 30px;
}

.parrafo-tiempos-entrega {
    border: 1px solid white;
    padding: 15px;
}

/*CONTACTO*/
.contenedor1 {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #2d2e36;
    height: 50%;
}

.contenedor2 {
    display: flex;
    justify-content: center;
}

.textos {
    justify-content: space-between;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    width: 60%;
    height: 100%;

    p {
        color: white;
        border: 1px solid #395886;
        border-radius: 10px;
        padding: 40px;
    }

    h3 {
        color: white;
        padding: 12px;
        margin: 15px;
    }
}


.formulario {
    border: 2px solid black;
    padding: 20px;
    margin: 50px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botton input {
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100px;
    padding: 10px;
}

.horarios {
    justify-content: center;
    text-align: center;
}

/*CLIENTES*/
.titulo-clientes h1 {
    color: white;
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    padding-top: 20px;
}

.contenedores-clientes .cliente {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.cliente img {
    height: 300px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    margin: 15px;
}

.parrafos-clientes p {
    color: white;
    text-align: center;
    justify-content: center;
    font-size: large;
    width: auto;
    height: auto;
    padding: 30px;
    margin: auto;
    border:1px solid white;
    border-radius: 10px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


span {
    color: rgb(230, 230, 230);
    font-weight: bold;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}